<div class="container productsContainer">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                    Drone Services
                </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel panel-default" heading="Real Estate: Residential &amp; Commercial" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We capture compelling and dramatic film for virtual tours and photographs of your property on the market. Utilizing drone technology allows us to show your buyers a range of attractive and accurate perspectives of your real estate
                        and neighborhood.</p>
                    <p>2017 studies on the benefits of drone use</p>
                    <p>According to MLS statistics, homes with aerial images sold 68&#37; faster than homes with standard images. Video tours that incorporate drone footage are also a great way to make your property stand out and to attract new listings.
                        According to the National Association of REALTORS® (NAR), 73&#37; of homeowners say that they are more likely to list with a real estate agent who uses video to market their home; however, only 9&#37; of agents create listing videos.
                        An Australian real estate group reported seeing a 403&#37; increase in traffic for listings that included video as compared to listings without.
                        <ul>Facts
                            <li>86&#37; of homebuyers use videos to learn more about the community they’re considering moving to.</li>
                            <li>54&#37; watch real estate videos for general information about a particular home.</li>
                            <li>44&#37; of homebuyers use real estate videos to compare and contrast their choices.</li>
                            <li>38&#37; say they use videos to learn about more specific features of a home.</li>
                        </ul>
                    </p>
                    <a ng-click="mediaExample('aerialFilm')" class="productsExample">Example of a home and surrounding property</a>
                    <br>
                    <a ng-click="mediaExample('newCorn')" class="productsExample">Example from a local farm</a>
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Roofing &amp; Real Estate Inspections" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>The use of thermal imagery and video has improved quality and cut costs for the roofing industry. It is one of the safest ways to visually inspect the work that needs to be performed on a roof as well as the workmanship of jobs completed. Drones are capable of inspecting in many high and difficult areas. Our piloting skills will make inspections fast, safe, and cost effective.</p>
                </div>
            </uib-accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Construction Monitoring" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>Track progress and manage your worksite effectively by utilizing drone technology to provide accurate and current information while allowing you to cut expenses on projects. It is a quick and easy way to understand challenges in the field and stay in touch with your crew on the ground with high-resolution film and images. Drone imagery has become critical in assessing equipment deployed to work sites. Civil engineering firms are also recognizing these (and other) benefits of using drone data to conveniently and affordably estimate costs, as well as design and track progress.</p>
                    <p>The American Institute of Architects believes building-related waste makes up anywhere from 25&#37; to 40&#37; of America’s solid-waste stream. With construction spending in the U.S. totaling &#36;1.13 trillion this year, those losses add up to more than &#36;160 billion in waste—and that’s just in the US.</p>
                    <a ng-click="mediaExample('landSurvey')" class="productsExample">Structural survey example</a>
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Training" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We provide hands-on training if you are new to drone systems. Our full professional training will prepare you for the FAA part 107 commercial drone pilot knowledge test, which is required to obtain your commercial license. During training, we utilize a full array of drones to allow you to gain practical experience and to apply the theory you are learning in the classroom. Our company is in full compliance with FAA and State Aviation rules and regulations, always
                        with an emphasis on safety and responsibility.</p>
                    <p>Areas Covered for the Commercial Part 107: Introduction to Drones, Obtaining your Commercial Pilot License, Airspace, Aviation Weather, Weight and Balance, Performance, and other areas for safe and legal operation.</p>
                </div>
            </uib-accordion>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Consulting" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>FlightSight Aviation is ready and available to provide comprehensive consultation and assessment for your company or agency needs. Consulting is provided onsite in order to involve key personnel who will be making the decisions on how to best utilize and implement drone technology to meet the needs of your company or agency.</p>
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Special Events" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>FlightSight Aviation is available for weddings, birthday celebrations, retreats, and other important meetings and gatherings. We understand the value of documenting special moments and events on high resolution film and imagery.</p>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
