<div class="container productsContainer">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                    Products and Services
                </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel panel-default" heading="Aerial Filming &amp; Photography" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We do filming and photography from the air by utilizing drone technology. It allows us to give a higher, wider and more unique perspective of your home, property, business, birthday, wedding celebration or other occasion.</p>
                    <a ng-click="mediaExample('aerialFilm')" class="productsExample">Aerial filming example</a>
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Land &amp; Structural Surveying" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We are able to give you a better and more realistic perspective of the size and geographic shape of your property.</p>
                    <a ng-click="mediaExample('landSurvey')" class="productsExample">Land surveying example</a>
                </div>
            </uib-accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Training" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We provide trainings on the use of drone technology by preparing you for your FAA Part 107 Commercial Drone Pilot Test (for business or pleasure), with safety and responsibility in mind.</p>
                    <a ng-click="mediaExample('training')" class="productsExample">Training example</a>
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Seminars" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We offer seminars to inform and educate future and current drone pilots on technology and regulation changes. We provide insight on different ways to utilize drones to maximize productivity and safety. It is important to know and understand the Dos and Don’ts of being a drone pilot.</p>
                    <a ng-click="mediaExample('seminar')" class="productsExample">Seminars example</a>
                </div>
            </uib-accordion>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Consulting" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We are available to provide assessments for your company or agency on how to best utilize drones based on your needs.</p>
                    <a ng-click="mediaExample('consulting')" class="productsExample">Consulting example</a>
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Research Projects" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We are available to provide services for data acquisition for researchers and institutions.</p>
                    <a ng-click="mediaExample('research')" class="productsExample">Research project example</a>
                </div>
            </uib-accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Drone Service/Repair" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>When your equipment is down, so is your productivity. As an operator, you want to have your equipment repaired by professionals that understand drone systems.</p>
                    <a ng-click="mediaExample('repair')" class="productsExample">Drone repair example</a>
                </div>
            </uib-accordion>
        </div>
        <div class="col-md-6">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Special Events" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>We are available for weddings, birthday celebrations, family reunions, retreats, forums, and other types of important gatherings and events to record those special moments.</p>
                    <a ng-click="mediaExample('specialEvent')" class="productsExample">Special event example</a>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
