body {
    &::-webkit-scrollbar {
        display: none;
    }
}
div.navbar-collapse.text-center.in.collapse {
    height: 369px;
}

.scrollMargin {
    margin-top: 50px;
}

.btn[disabled] {
    opacity: 0.5 !important;
}

.contactContainer .btn-default:hover {
    background-color: #8BC34A;
}

header {
    display: flex;
    justify-content: center;

    .headerLogo {
        height: 400px;
        display: flex;
        flex-direction: column;
        background: url("../../lib/assets/logoBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
        text-align: center;

        a {
            color: white;
        }

        img {
            width: 480px;
            margin: 20px;
        }
    }
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome {
        font-size: 2.5rem;
        position: relative;
        top: 50px;
        color: white;
        text-align: center;
        background: #222;
        padding: 10px;
    }
}

.homeDrone {
    object-fit: cover;
    margin-top: -90px;
    width: 100vw;
    height: 73vh;
    object-position: center;
}

.aboutStaff {
    text-align: left;
    line-height: 2.3rem;

    .staffMembers {
        width: 100%;

        .staffName {
            font-size: 2rem;
        }

        img {
            height: 290px;
            width: 290px;
            object-position: top;
            border-radius: 200px;
            object-fit: cover;

            &.owner {
                transform: rotate(7deg);
            }
        }

        p {
            margin-top: 20px;
            text-align: left;
        }
    }
}

.joinUs {
    .subjectOfEmail {
        font-weight: 600;
    }
}

nav.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    width: 100vw;

    .navbar-nav {
        display: flex;
        justify-content: center;
        float: none;

        li a {
            color: white;
            font-size: 16px;

            &:hover, &:focus {
                color: #F44336;
            }
        }
    }

    .displayToggle {
        display: none;
    }

    .navDropDown {
        z-index: 2;
        list-style-type: none;
        text-align: left;
        padding: 0;
        width: 100%;
        position: absolute;
        background: #9d9d9d;
        border: 1px solid #333;
        border-top: none;

        li {
            line-height: 20px;
            margin: 10px 0;
        }

        li a.navLinks {
            color: #222;
            text-decoration: none;
            display: block;
            padding: 5px 15px;

            &:hover {
                color: white;
            }
        }
    }
}

.mediaContainer {
    margin-bottom: 50px;
}

.videoRow {
    .videoWrapper {
        position: relative;
        padding-bottom: 50%;
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.contactContainer {
    margin-bottom: 50px;

    input.ng-invalid,
    textarea.ng-invalid {
        border: 1px solid red;
    }

    input.ng-valid,
    textarea.ng-valid {
        border: 1px solid green;
    }

    textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 68px;
    }

    .contactSubmit {
        margin-top: 15px;
    }

    .fa-map-marker {
        color: red;
    }

    .fa-phone {
        color: green;
    }

    .fa-envelope {
        color: #ffc107;
    }
}

.productsContainer, .eventsContainer {
    .customNotice {
        margin: 5px 0 20px;
        font-size: 18px;
    }
    iframe {
        margin-bottom: 30px;
    }
}

.productsExample:hover {
    cursor: pointer;
}

.panel-heading {
    padding: 25px;
}

.productsContainer .panel-default > .panel-heading {
    padding: 20px;
}

.aviatorsContainer {
    margin-bottom: 30px;

    img {
        width: 80%;
    }
}

.aviation {
    button {
        border-radius: 5px;
        margin-bottom: 20px;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
        padding: 10px;

        &:hover {
            background: #333;
            color: #f5f5f5;
        }
    }

    .airplanes {
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            box-shadow: 0 2px 10px black;
            margin-bottom: 30px;
        }
    }
}

.eventsContainer {
    .calendar {
        display: flex;
        justify-content: center;

        iframe {
            height: 600px;
            width: 100%;
            border: none;
            background-color: #333;
            padding: 15px;

            body {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .weatherNotice {
        margin: 30px 0;
    }
}

section.mapContainer {
    margin-top: 30px;
    height: 300px;

    #map {
        height: 300px;
        width: 100%;
    }
}

.privacyContainer {
    .privacyStatement {
        margin-bottom: 20px;
    }
}

footer {
    background: #222;
    color: #9d9d9d;
    padding: 40px 20px 20px;
    font-size: 1.2rem;

    #footerLogo {
        width: 300px;
        margin: 20px 0;
    }

    .privacyLink {
        color: #9d9d9d;

        &:hover {
            color: #ef3d39 !important;
        }
    }

    .socialContainer {
        display: flex;
        justify-content: center;

        a {
            color: #9d9d9d;
            text-decoration: none;
        }

        .social {
            width: 38px;
            height: 38px;
            text-align: center;
            border: 2px solid #9d9d9d;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;

            &:hover {
                cursor: pointer;
            }

            &:hover:first-child {
                box-shadow: -1px 0 15px #5566ec;
                color: #5566ec;
            }

            &:hover:nth-child(2) {
                box-shadow: -1px 0 15px #e62117;
                color: #e62117;
            }

            &:hover:nth-child(3) {
                box-shadow: -1px 0 15px #a53f92;
                color: #a53f92;
            }
        }
    }
}
