body::-webkit-scrollbar {
    display: none;
}

video {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    // video {
    //     height: 150px;
    //     width: 100vw;
    //     object-fit: cover;
    //     object-position: center;
    // }
    .headerLogo {
        opacity: 0.9;
        display: flex;
        background: url('https://images.pexels.com/photos/107906/pexels-photo-107906.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: space-between;
        align-items: center;

        img {
            height: 100px;
            margin: 10px;
        }

        .faaLogo {
            opacity: 0.8;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // background: rgba(26, 86, 255, 0.35);
            &:hover {
                opacity: 1;
                pointer: cursor;
            }

            #faaLogo {
                border-radius: 50px;
            }

            h5 {
                width: 211px;
            a {
                color: #333;
                text-decoration: none;
            }
            }
        }
    }
}

#farmDrone {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-position: bottom;
}

.aboutOwner {
    text-align: left;
    line-height: 2.3rem;

    h3 {
        margin-bottom: 30px;
    }

    #mauricioCessna {
        height: 100%;
        margin-bottom: 30px;
        box-shadow: 0 0 13px black;
    }

    .borderBottom {
        border-bottom: 1px solid #eee;
        margin: 0 0 20px;
    }
}

.joinUs {
    .subjectOfEmail {
        font-weight: 600;
    }
}

nav.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    width: 100vw;
}

.mediaContainer {
    margin-bottom: 50px;
}

.videoRow {
    .videoWrapper {
        position: relative;
        padding-bottom: 50%;
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.contactContainer {
    margin-bottom: 50px;

    input.ng-invalid,
    textarea.ng-invalid {
        border: 1px solid red;
    }

    input.ng-valid,
    textarea.ng-valid {
        border: 1px solid green;
    }

    textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 68px;
    }

    .contactSubmit {
        margin-top: 15px;
    }

    .fa-map-marker {
        color: red;
    }

    .fa-phone {
        color: green;
    }

    .fa-envelope {
        color: #ffc107;
    }
}

.productsExample:hover {
    cursor: pointer;
}

.panel-heading {
    padding: 25px;
}

.productsContainer .panel-default > .panel-heading {
    padding: 20px;
}

footer {
    background: #222;
    color: #9d9d9d;
    padding: 40px 20px 20px;
    font-size: 1.2rem;

    #footerLogo {
        width: 300px;
        margin: 20px 0;
    }

    .socialContainer {
        display: flex;
        justify-content: center;

        .social {
            width: 38px;
            height: 38px;
            text-align: center;
            border: 2px solid #9d9d9d;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
        }
    }
}
