body {
    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollMargin {
    margin-top: 50px;
}
// video {
//     height: 100px;
//     width: 100%;
//     object-fit: cover;
//     object-position: center;
// }

header {
    display: flex;
    justify-content: center;

    .headerLogo {
        opacity: 0.9;
        height: 230px;
        display: flex;
 background: -webkit-linear-gradient(left top, #b5d8f4, #7598cc);
/* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, #b5d8f4, #7598cc);
/* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, #b5d8f4, #7598cc);
/* For Firefox 3.6 to 15 */
background: linear-gradient(bottom right, #b5d8f4 , #7598cc);
/* Standard syntax */
background: linear-gradient(to bottom right, #b5d8f4, #7598cc);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        justify-content: space-around;
        align-items: center;

        img {
            height: 130px;
            margin: 10px;
        }

        .faaLogo {
            opacity: 0.8;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &:hover {
                opacity: 1;
            }

            #faaLogo {
                border-radius: 65px;
            }

            h5 {
                width: 211px;

                &:hover {
                    cursor: pointer;
                }

                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

#homeDrone {
    object-fit: cover;
    width: 100vw;
    height: 73vh;
    object-position: center;
    // filter: grayscale(100%);
    // transition: all ease 2s;
    // &:hover {
    //     filter:grayscale(0);
    // }
}

.aboutOwner {
    text-align: left;
    line-height: 2.3rem;

    h3 {
        margin-bottom: 30px;
    }

    .mauricio {
        width: 100%;
        box-shadow: 0 0 13px black;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }

    .borderBottom {
        border-bottom: 1px solid #eee;
        margin: 0 0 20px;
    }
}

.joinUs {
    .subjectOfEmail {
        font-weight: 600;
    }
}

nav.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    width: 100vw;

    .navbar-nav {
        display: flex;
        justify-content: space-around;
        float: none;
    }
}

.mediaContainer {
    margin-bottom: 50px;
}

.videoRow {
    .videoWrapper {
        position: relative;
        padding-bottom: 50%;
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.contactContainer {
    margin-bottom: 50px;

    input.ng-invalid,
    textarea.ng-invalid {
        border: 1px solid red;
    }

    input.ng-valid,
    textarea.ng-valid {
        border: 1px solid green;
    }

    textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 68px;
    }

    .contactSubmit {
        margin-top: 15px;
    }

    .fa-map-marker {
        color: red;
    }

    .fa-phone {
        color: green;
    }

    .fa-envelope {
        color: #ffc107;
    }
}

.productsExample:hover {
    cursor: pointer;
}

.panel-heading {
    padding: 25px;
}

.productsContainer .panel-default > .panel-heading {
    padding: 20px;
}

footer {
    background: #222;
    color: #9d9d9d;
    padding: 40px 20px 20px;
    font-size: 1.2rem;

    #footerLogo {
        width: 300px;
        margin: 20px 0;
    }

    .socialContainer {
        display: flex;
        justify-content: center;

        .social {
            width: 38px;
            height: 38px;
            text-align: center;
            border: 2px solid #9d9d9d;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
        }
    }
}
