body {
    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollMargin {
    margin-top: 50px;
}

.btn[disabled] {
    opacity: 0.5 !important;
}

.contactContainer .btn-default:hover {
    background-color: #8BC34A;
}

header {
    display: flex;
    justify-content: center;

    .headerLogo {
        opacity: 0.9;
        height: 230px;
        display: flex;
        flex-direction: column;
        background: url("../../lib/assets/12.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;

        a {
            color: white;
        }

        img {
            height: 170px;
            margin: 10px;
        }
        // .faaLogo {
        //     opacity: 0.8;
        //     display: flex;
        //     justify-content: flex-end;
        //     align-items: center;
        //
        //     &:hover {
        //         opacity: 1;
        //     }
        //
        //     #faaLogo {
        //         border-radius: 65px;
        //     }
        //
        //     h5 {
        //         width: 211px;
        //
        //         &:hover {
        //             cursor: pointer;
        //         }
        //
        //         a {
        //             color: black;
        //             text-decoration: none;
        //         }
        //     }
        // }
    }
}

#homeDrone {
    object-fit: cover;
    width: 100vw;
    height: 73vh;
    object-position: center;
}

.aboutStaff {
    text-align: left;
    line-height: 2.3rem;

    h3 {
        margin-bottom: 30px;
    }

    .staffMembers {
        width: 100%;

        .staffName {
            font-size: 2rem;
        }

        img {
            height: 290px;
            width: 290px;
            object-position: top;
            border-radius: 200px;
            object-fit: cover;

            &.owner {
                transform: rotate(7deg);
            }
        }

        p {
            margin-top: 20px;
            text-align: left;
        }
    }
}

.joinUs {
    .subjectOfEmail {
        font-weight: 600;
    }
}

nav.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    width: 100vw;

    .navbar-nav {
        display: flex;
        justify-content: center;
        float: none;
    }

    .displayToggle {
        display: none;
    }

    .navDropDown {
        z-index: 2;
        list-style-type: none;
        text-align: left;
        padding: 5px 15px;
        position: absolute;
        background: #9d9d9d;

        li a {
            color: #222;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }
}

.mediaContainer {
    margin-bottom: 50px;
}

.videoRow {
    .videoWrapper {
        position: relative;
        padding-bottom: 50%;
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.contactContainer {
    margin-bottom: 50px;

    input.ng-invalid,
    textarea.ng-invalid {
        border: 1px solid red;
    }

    input.ng-valid,
    textarea.ng-valid {
        border: 1px solid green;
    }

    textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 68px;
    }

    .contactSubmit {
        margin-top: 15px;
    }

    .fa-map-marker {
        color: red;
    }

    .fa-phone {
        color: green;
    }

    .fa-envelope {
        color: #ffc107;
    }
}

.productsExample:hover {
    cursor: pointer;
}

.panel-heading {
    padding: 25px;
}

.productsContainer .panel-default > .panel-heading {
    padding: 20px;
}

.aviatorsContainer {
    margin-bottom: 30px;

    img {
        width: 80%;
    }
}

.aviation {
    .airplanes {

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            box-shadow: 0 2px 10px black;
            margin-bottom: 30px;
        }
    }
}

footer {
    background: #222;
    color: #9d9d9d;
    padding: 40px 20px 20px;
    font-size: 1.2rem;

    #footerLogo {
        width: 300px;
        margin: 20px 0;
    }

    .socialContainer {
        display: flex;
        justify-content: center;

        a {
            color: #9d9d9d;
            text-decoration: none;
        }

        .social {
            width: 38px;
            height: 38px;
            text-align: center;
            border: 2px solid #9d9d9d;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;

            &:hover {
                cursor: pointer;
            }

            &:hover:first-child {
                box-shadow: -1px 0 15px #5566ec;
                color: #5566ec;
            }

            &:hover:nth-child(2) {
                box-shadow: -1px 0 15px #e62117;
                color: #e62117;
            }

            &:hover:nth-child(3) {
                box-shadow: -1px 0 15px #a53f92;
                color: #a53f92;
            }
        }
    }
}
