@media (max-width: 767px) {
    header {
        height: 305px;

        .headerLogo {
            flex-direction: column;
            background-position: center;

            .faaLogo {
                margin: 0;
                flex-direction: column-reverse;

                h5 {
                    color: #333;
                    width: 200px;
                    text-align: justify;
                }
            }
        }
    }

    footer,
    nav {
        font-size: 1.7rem;
    }

    footer {
        p {
            margin: 0;
            padding: 15px 0;
        }

        .fa-lg {
            margin-right: 5px;
        }

        .socialContainer {
            .social {
                height: 48px;
                width: 48px;
                margin: 0 10px;
            }
        }
    }

        #main {
            p, h3, h4, ol {
                font-size: 1.7rem;
                line-height: 2.5rem;
                // margin-bottom: 20px;
            }
        }
}
