@media (max-width: 767px) {
    header {
        height: 450px;

        .headerLogo {
            height: 450px;
            background-position: center;
            justify-content: center;

            img {
                width: 90%;
            }
        }
    }

    nav.navbar {
        .mobileNavTitle {
            display: block;
        }

        .navbar-nav {
            display: inline;
        }

        .navDropDown {
            position: inherit;
            text-align: center;
            padding: 10px 0;
            border: none;

            li {
                margin: 0;
            }

            li a.navLinks {
                padding: 10px 15px;
            }
        }
    }

    .homeContainer {
        .dronesWeUse {
            .droneImageSect {
                .homeDroneImg {
                    height: auto;
                    width: 90%;
                }
            }
        }
    }

    .homeDrone {
        z-index: -1;
        margin-top: -105px;
    }

    .aboutOwner {
        .mainImg {
            width: 93%;
            margin: 0 auto;
        }

        .xtraImg {
            display: none;
        }
    }

    footer,
    nav {
        font-size: 1.7rem;
    }

    footer {
        p {
            margin: 0;
            padding: 15px 0;
        }

        .fa-lg {
            margin-right: 5px;
        }

        .socialContainer {
            .social {
                height: 48px;
                width: 48px;
                margin: 0 10px;
            }
        }
    }

    #main {
        h3,
        h4,
        ol,
        p {
            font-size: 1.7rem;
            line-height: 2.5rem;
        }
    }
}
