@media (max-width: 767px) {
    header {
        height: 350px;

        .headerLogo {
            height: 350px;
            // flex-direction: column;
            background-position: center;
            justify-content: center;

            // .faaLogo {
            //     margin: 0;
            //     flex-direction: column-reverse;
            //
            //     h5 {
            //         width: 200px;
            //         text-align: center;
            //     }
            // }
        }
    }

    nav.navbar {
        .navbar-nav {
            display: inline;
        }
        .navDropDown {
            position: inherit;
            text-align: center;
        }
    }

    .aboutOwner {
        .mainImg {
            width: 93%;
            margin: 0 auto;
        }

        .xtraImg {
            display: none;
        }
    }

    footer,
    nav {
        font-size: 1.7rem;
    }

    footer {
        p {
            margin: 0;
            padding: 15px 0;
        }

        .fa-lg {
            margin-right: 5px;
        }

        .socialContainer {
            .social {
                height: 48px;
                width: 48px;
                margin: 0 10px;
            }
        }
    }

    #main {
        h3,
        h4,
        ol,
        p {
            font-size: 1.7rem;
            line-height: 2.5rem;
        }
    }
}
